body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("yellow.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    text-align: center;
    box-sizing: border-box;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }