body {
  background-color: #2a8516 !important;
}

.btn {
  background-color: #321180  !important;
  border-color: Transparent  !important;
  font-family: 'Roboto', sans-serif  !important;
}

.btn:hover {
  transform: scale(1.25);
  -webkit-transition: transform .35s ease-in-out;
  border-color: Transparent;
  background-color: #341185;
}

p, .display-3 {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
}
