body {
  background-image: url('http://dijkstra.cs.ttu.ee/~ailoop/tarkvara/pildid/yellow.jpg'); height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.btn btn-primary center-block .btn-lg {

}

.btn {
  border-color: Transparent  !important;
  font-family: 'Roboto', sans-serif  !important;
}

.btn:hover {
  transform: scale(1.25);
  -webkit-transition: transform .35s ease-in-out;
  border-color: Transparent;
}

p, .display-3 {
  font-family: 'Jua', sans-serif;
}

html {
  height: 100%;
}

#menubutton {
  height:88px;
  width: auto;
}

#text {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
  font-weight: bold;
  width: 85%;
  padding-left: 15%;
  font-size: 25px;
  text-align: justify;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}
